* {
    font-family: 'Courier New', Courier, monospace;
    /*font-family: -apple-system, BlinkMacSystemFont, sans-serif;*/
    overflow-x:hidden;
}
body {
    margin: auto;
    padding: 0px;
    background-color: rgb(34, 36, 28);
    padding-bottom: 20%;
}

/* COLORS
blue rgb(65, 213, 243)
red rgb(249, 38, 89)
green rgb(166, 220, 41)
grey rgb(39, 40, 34)
dark grey rgb(34, 36, 28)
light grey rgb(53, 53, 43);
orange rgb(253, 151, 31)
yellow rgb(200, 219, 116)
purple rgb(169, 120, 227)
*/

h1 {
    color: rgb(249, 38, 89);
    text-shadow: 2px 2px black;
}
h2 {
    font-size: 200%;
    font-style: italic;
    color: rgb(166, 220, 41);
    text-shadow: 2px 2px black;
}
h3 {
    font-size: 200%;
    color: rgb(253, 151, 31);
    text-shadow: 2px 2px black;
}
p {
    font-size: 150%;
    color: rgb(206, 190, 88);
    text-shadow: 2px 2px black;
}
a {
    text-decoration: none;
    color: rgb(34, 36, 28);
}
footer {
    padding-top: 20%;
    text-align: center;
}
small {

    color: white;
}
#startscreen {
    position: relative;
    text-align: center;
    border-bottom: 1px groove rgb(166, 220, 41);;
}
#blurback {
    width: 100%;
    height: 100vh; 
    z-index: -1;
    object-position: 10% 0%;
    object-fit: cover;

}
#sections {
    margin: auto;
    min-width: 600px;
    max-width: 600px;
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#greet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%);
    font-size: calc(12px + 3vw);

    color: rgb(169, 120, 227);
}
#myname {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: calc(36px + 6vw);
}
#topemail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);

    font-size: calc(16px + 1vw);

    display: block;
    border: none;
    background-color: rgb(65, 213, 243);
    border-radius: calc(8px + 1vw);
    text-align: center;
    overflow-y:hidden;
    font-size: calc(16px + 1vw);
    font-weight: bolder;
    padding: calc(16px + 1vw) calc(8px + 1vw); 
}
.button {
    display: block;
    border: none;
    background-color: rgb(65, 213, 243);
    border-radius: 12px;
    text-align: center;
    overflow-y:hidden;

    font-size: 24px;
    font-weight: bolder;
    padding: 24px 12px; 
}
.button:hover {
    background-color: rgb(132, 235, 255);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#aboutbuttons {
    margin: 0;
    padding: 0; 
    
}
#aboutbuttons li {
    display: inline-block;
    
}
#aboutbuttons a {
    display: inline-block;
}
.lihorz {
    padding-left: 5%;
    padding-right: 5%;
}
#githubbut, #linkedinbut, #resume {
    width: 100px;
    height: 40px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
#resume {
    padding-top: 30px;
    height: 34px;
}
#githubimg, #linkedinimg {
    max-width: 100%;
    max-height: 100%;
}
.section {
    
    padding-top: 10%;
}
.linked {
    color: rgb(65, 213, 243);
    text-decoration: underline;
}
.linked:hover {
    color: rgb(132, 235, 255);
}
.gridspot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gridbox {
    
    flex: 0 1 28%;
    margin: 2px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: grey;
}
.gridbox:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}
.projectname {
    font-size: 16px;
}
.mail {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

