* {
    font-family: 'Courier New', Courier, monospace;
    /*font-family: -apple-system, BlinkMacSystemFont, sans-serif;*/
    
}
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(39, 40, 34);
    padding-bottom: 20%;
}

/*
blue rgb(102,217,239)
red rgb(249, 38, 89)
green rgb(166, 220, 41)
grey rgb(39, 40, 34)
light grey rgb(53, 53, 43);
orange rgb(253, 151, 31)
yellow rgb(200, 219, 116)
*/

header {
    margin: 0;
    padding: 0;
    background-color: rgb(53, 53, 43);
}
li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
main {
    margin-left: 20vw;
    margin-right: 20vw;
}
h1 {
    color: rgb(249, 38, 89);
    
}
h2 {
    font-size: 200%;
    font-style: italic;
    color: rgb(166, 220, 41);
}
h3 {
    font-size: 200%;
    color: rgb(102,217,239);
}
p {
    font-size: 150%;
    color: rgb(206, 190, 88);
}
a {
    text-decoration: none;
    color: rgb(53, 53, 43);
}

.myname {
    font-size: 26px;
    margin-left: 2%
}
.button {
    border: none;
    background-color: rgb(253, 151, 31);
    border-radius: 12px;

    
    font-size: 24px;
    font-weight: bolder;
    padding: 24px 12px;
}
.resume {
    float: right;
    margin-top: 18px;
    margin-right: 2%;
}
.button:hover {
    background-color: rgb(253, 151, 31);
    padding: 26px 13px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttontext {
    text-align: center;
}
.section {
    padding-top: 30%;
}
.linked {
    color: rgb(253, 151, 31);
    text-decoration: underline;
}
.linked:hover {
    color: rgb(255, 196, 129);
}
.gridspot {
    align-items: center;
    display: grid;
    grid-column-gap: 4%;
    grid-row-gap: 8%;
    grid-template-columns: 20% 20% 20%;
    
    margin: 0 auto;
    width: 80vw;
    height: 40vw;
    font-size: 1rem;
    
}
.gridbox {
    flex: 1 0 auto;
    position: relative;
    background-color: rgb(53, 53, 43);
}
.gridbox:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}
.projectname {
    font-size: 16px;
}
.mail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    border: none;
    background-color: rgb(253, 151, 31);
    border-radius: 12px;

    
    font-size: 24px;
    font-weight: bolder;
    padding: 24px 12px;
}